@use '_variables' as *;

.arrow-container {
	display: flex;
	align-items: center;
}

.arrow-container a {
	margin-right: 10px; /* Adjust the spacing as needed */
}

.Arrow {
	/* Add styles for the arrow icon */

	color: $header-bg;
	padding: 1rem;
}

.foot-1 {
	font-family: $roboto-condensed;
	position: absolute;
	padding: 5px;
	text-align: center;
	color: $latest-recipes-even;
	background-color: $main-menu;
	    right: -10px;
    margin: 10px;
    width: 100%;
}
