@use "variables" as *;
@use "mixins" as *;

.logo-menu {
  background-color: $white-bg;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

/* Larger logo */
.logo {
  width: 70%;
  max-width: 400px;
  height: auto;
  padding: 7px;
}

.small-logo {
  display: none;
}

@keyframes rotate-vertical {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 330px) {
  .logo {
    display: none;
  }
  .small-logo {
    display: inline-block;
  }
}

nav {
  display: none; /* Hide the entire navigation by default */
}

/* Add styles for the active navigation (hamburger menu) */
#main-nav.active {
  display: block;
  /* Show the navigation when the active class is present */
}

// hamburger search bar styling

#searchbar {
  display: flex;
  align-items: center;
  position: relative;
  input {
    width: 100%;
    padding: 5px;
    background-color: $search-bg;
  }
  img {
    position: absolute;
    right: 0;
    padding: 5px;
  }
}

// navigation menu

#main-nav {
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // removed the bullets and the margins and padding from the list
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: $main-menu;

    li {
      font-family: "Roboto Condensed", sans-serif;
      color: $text-white;
      text-align: center;
      padding: 5px;
      width: 100%;
      border-bottom: 1px solid $main-menu;
      cursor: pointer;
      &:hover {
        color: $main-menu;
        background-color: $white-bg;
        width: 100%;
      }
    }
  }
}

/* Social media icons styling */

#social-media {
  display: flex;
  justify-content: center;
  padding: 5px;
  gap: 5px;
  img {
    width: 25px;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      animation: rotate-vertical 1.1s ease-out;
    }
  }
}

/* Coloring of icons */
.filter-blue {
  filter: invert(32%) sepia(13%) saturate(2432%) hue-rotate(175deg)
    brightness(92%) contrast(86%);
}

#big-searchbar {
  display: none;
}

// hide hamburger menu on screens width 500px or more

@include screen(31.25em) {
  #hamburger-icon {
    display: none;
  }

  #searchbar {
    display: none;
  }

  #main-nav {
    display: flex;
  }

  //  styling for dekstop searchbar

  #big-searchbar {
    display: flex;
    align-items: center;
    position: relative;
    input {
      width: 100%;
      padding: 10px;
      background-color: $search-bg;
      border-radius: 5px;
      border: 1px solid transparent;
      box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
    }
    img {
      position: absolute;
      right: 0;
      padding: 5px;
    }
  }

  #main-nav {
    ul {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      li {
        padding: 12px;
        &:hover {
          color: $main-menu;
          background-color: $white-bg;
        }
      }
    }

    #social-media {
      display: none;
    }
  }
}

#big-social-media {
  display: none;
}

#searchbar2 {
  display: none;
}

// social media icons appear
@include screen(43.75em) {
  #big-social-media {
    display: flex;
    margin-right: 70px;
    flex-direction: row;
    gap: 10px;
    // width: 25px;
    img {
      width: 25px;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        filter: invert(99%) sepia(0%) saturate(2519%) hue-rotate(179deg)
          brightness(115%) contrast(82%);
      }
    }
  }
}

// hide searchbar on screens width 770px or more
@include screen(48.125em) {
  /* Hide the big search bar on larger screens */
  #big-searchbar {
    display: none;
  }

  /* Display the search bar on larger screens */
  #searchbar2 {
    display: flex;
    align-items: center;
    position: relative;
    right: 0;
    flex-grow: 1;
    z-index: 99;
    img {
      position: absolute;
      right: 0;
      padding: 5px;
    }
    input {
      width: 100%;
      padding: 5px;
      background-color: #dddddd;
      height: 35px;
      border: 1px solid transparent;
    }
  }

  #main-nav {
    ul {
      position: relative;
      width: 100%;
      font-size: large;
      li {
        margin-left: 40px;
      }
    }
  }
}

#facebook-icon-header {
  height: 27px;
  padding-top: 15px;
}

#facebook-icon {
  height: 27px;
  padding-bottom: 3px;
}
