@use "variables" as *;
@use 'mixins' as *;


body {
    font-family: $roboto-light;
    font-weight: 300;
    background-image: url(../images/bg.jpg);
    margin: 0 auto;
    max-width: 1050px;
}

img {
    max-width: 100%;
    height: auto;
}

.gallery-container,
.latest-recipes-container,
.cuisines-container,
.container-4,
.container-5 {
    max-width: 1050px;
    margin-bottom: 10px;
    background-color: transparent;

    @include screen (48.125rem) {
        max-width: 702px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $roboto-condensed;
    font-weight: 700;
    text-transform: uppercase;
}

.gallery-container {
    display: grid;
    grid-template-columns: 1fr;
  
        @include screen (41.875em) {
        grid-template-columns: 1fr 1fr;

        .gallery {
            grid-column: 1 / span 2;
        }

        .gallery:not(:first-child) {
            grid-column: 2;
            grid-column: auto;   
        }
    }
}

.gallery {
    position: relative;
    overflow: hidden;
}

.gallery {
    img {
        width: 100%;
        max-width: 100%;
        height: auto;
        padding: 5px;
    }
}

.gallery-paragraph {
    position: absolute;
    bottom: 9px;
    left: 4px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    color: $text-white;
    padding: 1rem;
}

.gallery-paragraph {
    p {
        margin: 0;
    }
}

.older-posts h2 {
    margin: 0;
    display: flex;
    align-items: center;
}

.older-posts h2 span.circle-style {
    margin-right: 10px;
}

.bolder-posts h2 {
    margin: 0;
    display: flex;
    align-items: center;
}

.bolder-posts h2 span.circle-style {
    margin-right: 10px;
}

.bolder-posts {
    text-transform: uppercase;
    font-family: $roboto-condensed;
    color: $cuisines-bg;
}

.circle-style {
    @include flexCenter;
    background-color: $cuisines-bg;
    border-radius: 70%;
    border-width: 1rem;
    padding: 0.5rem;
    margin: 1rem;
    width: 1rem;
    height: 0.9rem;
    align-items: center;
}


.container-4,
.container-5 {
    background-color: $white-bg;

    .container-4-content,
    .container-5-content {
        padding: 10px;
    }

    img {
        // Khushi intially only max-width was here
        // max-width: 100%;
        width: 100%;
        height: auto;
    }

    h2 {
        color: $food-title;
    }

    .read-more {
        background-color: $read-more-bg;
        height: 4vh;
        width: 8rem;
        color: $text-white;
        // text-align: center; /* Center the text inside the button */
        margin-left: auto;
        margin-bottom: 15px;
        font-weight: bold;
        text-transform: uppercase;
        font-family: $roboto-condensed;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px;
    }
}

.older-posts {
    text-transform: uppercase;
    font-family: $roboto-condensed;
    color: $food-title;
}

.bolder-posts {
    text-transform: uppercase;
    font-family: $roboto-condensed;
    color: $food-title;
}

.circle-style {
    @include flexCenter;
    background-color: $cuisines-bg;
    font-size: 1rem;
    color: white;
    border-radius: 70%;
    border-width: 1rem;
    padding: 0.6rem;
    margin: 0.1rem;
    width: 1.5rem;
    height: 1.5rem;
    align-items: center;
}

//background image

@include screen (65.625em) {
    /* *** NOTE: Add the background image for the body here... */

    body {
        background-image: url(../images/bg.jpg);
    }
}