@use "variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

h3 {
  text-transform: uppercase;
  color: white;
  padding: 0.3rem;
  background-color: $latest-recipes-bg;
  font-family: $font;
  font-weight: 350;
  font-size: small;
  margin: 0;
}

.latest-recipes {
    
    ul {
        list-style: none;
        padding-left: 0;
        li:nth-child(even) {
            background-color: $latest-recipes-even;
        }
    }
    li {
        background-color: $search-bg;
        display: flex;
        flex-wrap: nowrap;
        padding: 0.3rem;
        gap: 0.5rem;
        font-family: $font;
        font-weight: 300;
        text-transform: uppercase;
        
    }
    img {
        text-align: left;
        box-shadow: -1px -1px 0px 2px $hamburger-bg;
    }
}
//phone-small👇
.cuisines {

 @media (min-width:770px){
.gallery {
    img {
        width: 100%;
        max-width: 100%;
        height: auto;
        padding: 4px;
    }
}


    ul {
        background-color: $white-bg;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2,1fr); 
        grid-gap: 15px; 
        padding: 0.2rem 0.5rem;
        font-family: $font;
        font-weight: 300;
        font-size: 0.6rem;
        white-space: nowrap;
        //phone-large👇
        @media (min-width:330px){
        display: grid;
        grid-template-columns: repeat(3,1fr); 
        font-size: 16px;}

        
        
    }
    
       //tablet-cuisines
    //    @media (min-width:500px){
        //stop cusines froming growing and add arrows and try to fix background
    //    }
    //    Desktop-cuisines
          @media (max-width:770px){
           display:flex;
           flex-shrink: 0;
           flex-direction: column;
           gap:0.4rem;
          

          }


          
  }



}

    @media (min-width:330px){
        .container-4,
.container-5 {
     flex-grow: 1;
    display: flex;
    flex-direction: column;
   box-sizing: border-box;
   
     transition: width 0.3s ease-in; 
    }
}

   @media (max-width:770px){
          
          

          }


//dawg this is so much fun right? 
/* @media (max-width:1000px)
 
 {
.container-4,
.container-5{
    display: flex;
    
 }


        .container-4-content,
.container-5-content {
    
    flex-grow:  1;
    //display: flex;
    /*flex-direction: column;
   box-sizing: border-box;
   
    

}

.gallery-container{
      box-sizing: border-box;
    
   
}
          }


      */    

@media (min-width:770px){
    .sidebar{
        
        position: absolute;
        right:2rem;
        top:8rem;
        width: 10rem;
        font-size: small;
    }
}