$text-black: black;
$text-white: white;




$white-bg: white;
$logo1: #005991;
$logo2: #5494BE;
$header-bg: #F9F9F9;
$hamburger-bg: #005991;
$header-bg: #F9F9F9;
$icons: #1A71A9;




$menu-background: #1A71A9;
$main-menu: #005991;
$search-bg: #DEDEDE;
$latest-recipes-bg: #1A71A9;
$sidebar-bg: #F9F9F9;
$cuisines-bg: #1A71A9;
$latest-recipes-even: #E9E9E9;
$food-title: #5494BE;
$read-more-bg: #1A71A9;
$left-arrow-bg: #1A71A9;

$footer-bg: #005991;


$footer-bg: #005991;

$font:'Roboto ',sans-serif;

$roboto-light: 'Roboto', sans-serif;
$roboto-condensed: 'Roboto Condensed', sans-serif;


